@charset "utf-8";

/* Binde Stylesheet für JavaScript-Gimmicks ein */

@import url(javascript.css);

/* Forumshauptseite */

#selfforum-hauptseite #top,
#selfforum-hauptseite #kopf,
#aktuellenachrichten,
#altenachrichten,
/* Anzahl der Antworten im Thread */
#selfforum-hauptseite .answers {
  display: none;
}

/* Postingansicht */

#selfforum-nachricht .socialllinks {
  display: none;
}

.nachricht-section {
  border: 0;
  padding: 0;
  width: auto;
  max-width: 65em;
  background-color: transparent;
}

.nachricht-section p {
  margin: 0 0 1em;
}

.nachricht-text {
  margin: 0;
  padding: 1.5em;
  width: auto;
}

.nachricht-text,
#antwortformular textarea {
  line-height: 1.4;
}

#selfforum-nachricht h2,
#selfforum-nachricht h3,
#bedienungshilfe,
#formular-charta,
#doppelpostinghinweis,
#bottom {
  display: none;
}

#selfforum-nachricht #root li {
  margin-top: 0;
  padding-top: 0;
}