@charset "utf-8";

/* zusätzliche Elemente */

#beschreibung div {
    margin-bottom: 1.5em;
}

/* Kontextmenü-Layer */

#context-menu {
	background-color: #FDFCF3;
	border: 2px solid #8A9DA8;
	border-radius: 0px 0.5em 0.5em;
	font-size: 85%;
	list-style-type: none;
	margin: 0px 0px 0px 1px;
	padding: 0.5em 0.7em;
	position: absolute;
}

#context-menu a {
	display: block;
}

#context-menu-title {
	background-color: #8A9DA8;
	border-radius: 0.5em 0.5em 0px 0px;
	color: white!important;
	padding: 1px 5px;
}

/* Filter */
/* Zeige nur markierte Threads */

#root.filtered > li {
	display: none;
}

#root.filtered > li.contains-filter-postings {
	display: block;
}

.highlighted > .posting {
	background-color: #EBF5D7;
	padding-right: 0.5em;
}

#filter-status {
	padding: .2em .5em;
	background-color: #EBF5D7;
}

/* Neue ungelesene Antworten */

#answer-notice ul {
	border-left: 5px solid #8DB243;
	padding-left: 0.75em;
}

/* Statistiken */

#stats {
	display: none;
	position: fixed;
	top: 1em;
	right: 2em;
	bottom: 1em;
	z-index: 101;
	margin: 0;
	border: 1px solid #d5d5d5;
	padding: 0.5em;
	max-width: 16em;
	overflow: auto;
	background-color: #F1F3F4;
}

#stats table {
	border-spacing: 0;
}

#stats tr:hover {
	background-color: white;
}

#stats th, #stats td {
	border-bottom: 1px solid #e0e0e0;
	font-size: 90%;
	line-height: 1.4;
}

#stats tr:last-child th, #stats tr:last-child td {
	border-bottom: 0 none;
}

#stats th {
	text-align: left;
	font-weight: normal;
}

#stats th a {
	display: block;
	padding-left: 0.2em;
}

#stats td {
	padding: 1px 0.5em;
	text-align: right;
}

#stats p.hide {
	margin: 0 0 0.5em;
	text-align: center;
}

/* Sortierung */

#change-thread-sorting label {
	font-weight: normal;
}
